<link rel="stylesheet" href="../css/slider.css">
<div id="kiko-slider">

    <ul class="slider">
        <li id="slide1"> 
            <img src="../images/avocadocupcakes.jpeg" />
        </li>
        <li id="slide2">
            <img src="../images/cakes.jpeg" />
        </li>
        <li id="slide3">
            <img src="../images/girlscake.jpeg" />
        </li>
        <li id="slide4">
            <img src="../images/happynewyearcake.jpeg" />
        </li>
        <li id="slide5">
            <img src="../images/lovecake.png" />
        </li>
    </ul>

    <ul class="menu">
        <li>
            <a href="#slide1">1</a>
        </li>
        <li>
            <a href="#slide2">2</a>
        </li>
        <li>
            <a href="#slide3">3</a>
        </li>
        <li>
            <a href="#slide4">4</a>
        </li>
        <li>
            <a href="#slide5">5</a>
        </li>
    </ul>

</div>